footer {
    @extend .row;
    background-color: $color-primary;
	align-items: center;
	justify-content: space-around;
	padding: 3.5em 1em;

    h5 {
        color: $text-color-secondary;
        font-size: 1em;

        a {
            color: $text-color-secondary;
            text-decoration: underline;
            font-size: 1em;
        }
    }
}
