header {
    @extend .col;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
    align-items: center;
    align-content: center;

    h1, h2 {
        text-transform: uppercase;
        color: $text-color-secondary;
    }

    h1 {
        @include font-cut(4em, 700);
        font-stretch: semi-expanded;
        border-left: 0.25em solid $text-color-secondary;
        padding: 0.30em;
        @media only screen and (max-width: 480px) {
            @include font-cut(3.5em, 700);
        }
    }

    h2 {
        @include font-cut(2em, 700);
        font-stretch: semi-expanded;
        border-bottom: 0.25em solid $text-color-secondary;
        padding: 0.30em;
    }
}
