@import "mixins";

main {
    @extend .col;
    align-self: center;
    box-sizing: border-box;
    padding: 2em 0;
    width: 64em;

    @media only screen and (max-width: $break-point-small) {
        width: 100%;
    }
    @media only screen and (max-width: $break-point-medium) {
        width: 100%;
        padding: 2em 2em;
    }
    @media only screen and (max-width: $break-point-large) {
        width: 100%;
        padding: 2em 2em;
    }
}
