@mixin font-cut ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}


.no-border {
    border: none;
    border-radius: 0;
}

.right-border {
    padding: 0.5em 2em;
    margin: 0.5em 0;
    border-left: 1em solid $color-primary;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
}
