$color-primary: #293133;
$color-primary-light: #F4F5F6;
$color-secondary: ivory;
$color-accent: #EF3340;
$color-accent-dark: #BD0F1B;

$text-color-primary: #293133;
$text-color-secondary: ivory;
$text-color-accent: #EF3340;
$text-color-accent-dark: #BD0F1B;


@import "reset";
@import "typo";
@import "header";
@import "nav";
@import "main";
@import "article";
@import "input";
@import "list";
@import "table";
@import "footer";
