@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');

body {
    font-family: "Rubik", sans-serif;
    color: $text-color-primary;
}

h1, h2, h3, h4, h5, h6, p, a {
    padding-bottom: 0.25em;
    span {
        color: $text-color-accent;
    }
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
}

h1 {
    @include font-cut(7em, 300);

    @media only screen and (max-width: 480px) {
        @@include font-cut(5em, 300);
    }

    }
}
h2 {
    @include font-cut(3.5em, 400);
}
h3 {
    @include font-cut(2.8125em, 400);
}
h4 {
    @include font-cut(2.125em, 400);
}
h5 {
    @include font-cut(1.5em, 400);
}
h6{
    @include font-cut(1.25em, 400);
}

p, a {
    @include font-cut(1.25em, 400);
    padding-bottom: 0.5em;
}

blockquote {
    margin: 0.5em 0;
    padding: 1.25em 2em;
    background-color: $color-secondary;
    border-left: 1em solid $color-primary;
    text-align: justify;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: $text-color-accent;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    p {
        display: inline;
    }
}

pre {
    padding: 1.25em 2em;
    margin: 0.5em 0;
    background-color: $color-secondary;
    border-left: 1em solid $color-primary;
    counter-reset: line;
}

@import "highlighter";
